.landing, body {
	width: 100%;
	height: 100vh;
	background: $color4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__element{
		margin: 20px;
		width: 100px;
		height: 100px;
		animation: rainbow 3s ease-in infinite;
		&:hover{
			animation-play-state: paused;
		}
	}
}
@keyframes rainbow{
  0%{color: #EA0599}
  25%{color: #9A0F98}
  50%{color: #6A0572}
  75%{color: #39065A}
}
