.center{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.text-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px;
}
.text-blog{
	display: flex;
	padding: 60px;
	font-size: 18px;
	text-transform: initial;
}
